@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #020618;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

button {
  cursor: pointer;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

.error {
  color: red;
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.card {
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* background: white; */
}

.table th, .table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}
